* {
	box-sizing: border-box;
	text-align: center;
}

header{
	padding: 20px;
	margin-bottom: 20px;
	
}

.nav {
	border: solid black;
	border-radius: 7px;
	background-clip: content-box;
	background: #4aaaa5;
	overflow: hidden;
}

#pic{
float: right;
border: solid #4aaaa5;
border-radius: 7px;
}




body {
	background:url(../images/tileable_wood_texture.png);
}


h1 {
	width: 25%;
	background-color: #4aaaa5;
	color: white;
	font-size: 17px;
	text-align: center;
	font-family: 'Permanent Marker';
	padding-top: 20px;
	padding-bottom:20px;
	color:white;
	float:left;
	overflow: auto;
}

section {
	font-family: arial;
}
#body{
	width: 960px;
	
}

#left {
	float: left;
	width: 650px;
	border: solid #4aaaa5;
	border-radius: 7px;
	background: white;
	background-clip: content box;

}

#right{
	font-size:30px;
	float: right;
	width: 270px;
}

.logos {
	width: 80px;
	height: 80px;
	float: left;
	padding:5px;
	border:5px;
}

h2 {
	color: #4aaaa5;
	text-align: center;
	font-family: 'Permanent Marker';
}

#one{
	float: left;
 width: 250px;
 border: solid black;
border-radius: 7px;
background-clip: content-box;
background: #4aaaa5;
}
/*Need to come back to this (need to apply the name on top of picture and also float the picture rather than just making it fit into the section*/
.work {
width: 640px;
}


